- container :fluid do
  - row do
    - span12 do
      %video#webcam
- container :fluid do
  - row do
    - span12 do
      %input#takePhoto{ type: 'button', value: "Cheese!", onclick: 'takePhoto();' }
      %canvas#photo
