!!! 5
%html
  %head
    %title
      Mojo Lingo Talking Interwebz Demo
    = stylesheet_link_tag "style"
    = bootstrap_assets
    %script{ src: "//code.jquery.com/jquery-1.10.2.min.js" }
    = javascript_include_tag "annyang", "scripts"
  %body
    - container :fluid do
      - row do
        - span12 do
          - row do
            - span12 do
              %h2 Mojo Lingo Talking Interwebz Demo
          - row do
            - span6 do
              #wrapper
                - row do
                  - span6 :class => 'adam-rabbit' do
                    %img#magic-adam{ src: '/images/magic-adam-quote.png', onclick: 'takePhoto();' }
                    %img#magic-adam-thinking{ src: '/images/magic-adam-thinking.png', onclick: 'takePhoto();', style: "display:none;" }
                    %img#magic-adam-annoyed{ src: '/images/magic-adam-annoyed.png', onclick: 'takePhoto();', style: "display:none;" }
                  - span6 :class => 'speech-bubble' do
                    %img{ src: '/images/atlrug_logo.png' }
                #content-panel
            - span6 do
              ~ yield
          - row do
            - span12 do
              %p &copy; 2013 Mojo Lingo LLC.  No smoke and mirrors here!
