!!! 5
%html
  %head
    %title
      Mojo Lingo Talking Interwebz Demo
    = stylesheet_link_tag "style"
    = bootstrap_assets
    = javascript_include_tag "annyang", "scripts"
  %body
    - container :fluid do
      - row do
        - span12 do
          - row do
            - span12 do
              %h2 Mojo Lingo Talking Interwebz Demo
          - row do
            - span6 do
              #wrapper
                %img{ src: '/images/magic-adam-rubyatl.png', onclick: 'takePhoto();' }
                #content-panel
            - span6 do
              ~ yield
          - row do
            - span12 do
              %p &copy; 2013 Mojo Lingo LLC.  No smoke and mirrors here!
